.button-next-pair-mode {
    display: inline-block;
    border: none;
    cursor: pointer;
    background: none;
}
.button-next-pair-mode:hover{
    opacity: 0.5;
}
/* .button-next-pair-mode img {
    width: 15px;
    height: 15px;
} */
.pair-time{
    padding-right:1%;
    text-align: center;
}
.pair-all-info {
    margin: 0 auto;
    min-width: 1000px;
    max-width: fit-content;
}
.each-pair-section {
    display: inline-block;
    width: 90%;
}
.schedule-one-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50%;
    border: 2px solid #c9c9c9;
    border-radius: 10px;
    margin: 1% 1%;
    padding: 10px 5px;
}
.schedule-one-button:hover{
    color: #b05500;
    border: 2px solid #b05500;
    cursor: pointer;
}
.schedule-two-buttons {
    border: 2px solid #c9c9c9;
    margin: 1% 1%;
    padding: 10px 5px;
    text-align: center;
}
.schedule-two-buttons:hover{
    color: #b05500;
    border: 2px solid #b05500;
    cursor: pointer;
}
.schedule-pair-buttons {
    display: inline-block;
    margin: 1% 1%;
    padding: 5px 10px;
    width: 44%;
    text-align: center;
}
.schedule-items-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-up-schedule-pair-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #c9c9c9;
    border-top-left-radius: 10px;
}
.right-up-schedule-pair-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #c9c9c9;
    border-top-right-radius: 10px;
}
.left-down-schedule-pair-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #c9c9c9;
    border-bottom-left-radius: 10px;
}
.right-down-schedule-pair-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #c9c9c9;
    border-bottom-right-radius: 10px;
}
.upper-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #c9c9c9;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.lower-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #c9c9c9;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.schedule-pair-buttons:hover {
    color: #b05500;
    border: 2px solid #b05500;
    cursor: pointer;
}
/* .ant-tabs-tabpane {
    width: 1000px;
} */
.ant-tag {
    font-size: 12px;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #FFF !important;
}
.ant-tabs .ant-tabs-tab:hover {
    color: #FFF !important;
    opacity: 80%;
}
.ant-tabs-tab.ant-tabs-tab-active {
    opacity: 70%;
}
.ant-tabs-ink-bar {
    background-color: #b05500 !important;
}
.pin_block {
    margin: 0 auto;
}
.schedule-one-button span {
    display: block;
}
.schedule-subject-abbreviature {
    font-size: 18px;
    font-weight: 500;
}
.schedule-subject-lecturer {
    font-size: 12px;
}
.schedule-subject-classroom {
    font-size: 12px;
}