.button-next-pair-mode {
    display: inline-block;
    border: none;
    cursor: pointer;
    background: none;
}
.button-next-pair-mode:hover{
    opacity: 0.5;
}
/* .button-next-pair-mode img {
    width: 15px;
    height: 15px;
} */
.pair-time{
    padding-right:1%;
    text-align: center;
}
.pair-all-info {
    margin: 0 auto;
    min-width: 100%;
    max-width: fit-content;
}
.each-pair-section {
    /* display: flex; */
    display: inline-block;
    margin: 2% 0;
    height: 100px;
    width: 80%;
}
.schedule-one-button {
    line-height: 50px;
    height: 50%;
    border: 2px solid #c9c9c9;
    border-radius: 10px;
    margin: 1% 1%;
    padding: 1.5% 1.5%;
    text-align: center;
    vertical-align: middle;
}
.schedule-one-button:hover{
    color: #4096ff;
    border: 2px solid #4096ff;
    cursor: pointer;
}
.schedule-two-buttons {
    border: 2px solid #c9c9c9;
    margin: 1% 1%;
    padding: 1.5% 1.5%;
    text-align: center;
}
.schedule-two-buttons:hover{
    color: #4096ff;
    border: 2px solid #4096ff;
    cursor: pointer;
}
.schedule-pair-buttons {
    display: inline-block;
    margin: 1% 1%;
    padding: 1.5% 1.5%;
    width: 44%;
    text-align: center;
}
.left-up-schedule-pair-button{
    border: 2px solid #c9c9c9;
    border-top-left-radius: 10px;
}
.right-up-schedule-pair-button {
    border: 2px solid #c9c9c9;
    border-top-right-radius: 10px;
}
.left-down-schedule-pair-button {
    border: 2px solid #c9c9c9;
    border-bottom-left-radius: 10px;
}
.right-down-schedule-pair-button {
    border: 2px solid #c9c9c9;
    border-bottom-right-radius: 10px;
}
.upper-button {
    border: 2px solid #c9c9c9;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.lower-button {
    border: 2px solid #c9c9c9;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.schedule-pair-buttons:hover {
    color: #4096ff;
    border: 2px solid #4096ff;
    cursor: pointer;
}
.ant-tabs-tabpane {
    width: 1000px;
}
.ant-tag {
    font-size: 12px;
}
