.groups-page {
    display: flex;
    margin-top: 14px;
    max-width: 1400px;
}

.groups-page-left-block {
    display: inline-block;
    max-width: 30%;
    margin-right: 8px;
}

.groups-page-right-block {
    display: inline-block;
    width: 70%;
}

.groups-info-right-block-item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 15px 20px;
    background-color: #ececec;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
    gap: 5px;
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.groups-page-groups {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
}

.groups-page-section-badge {
    font-size: 19px;
    font-weight: 600;
    background-color: #b05500;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 10px;
}

.page-description {
    font-size: 16px;
}

.groups-info-right-block-item-schedule {
    padding: 8px 10px;
    text-decoration: none;
    color: white;
    background-color: #b05500;
    border-radius: 10px;
    font-size: 14px;
    margin-right: 8px;
}

.groups-info-right-block-item-group-page {
    padding: 8px 10px;
    text-decoration: none;
    color: white;
    background-color: #b05500;
    border-radius: 10px;
    font-size: 14px;
}

.groups-page-left-block img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.groups-page-left-block .page-description {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    text-align: justify;
    font-size: 16px;
}

.groups-info-right-block-item-skeleton {
    box-sizing: border-box;
    display: flex;
    padding: 15px 20px;
    border-radius: 5px;
    width: 100%;
    background-color: #ececec;
    gap: 8px;
}

.groups-info-right-block-item-button {
    width: 100px !important;
}

.groups-info-right-block-skeleton-item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    /* padding: 15px 20px; */
    background-color: #ececec;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
    gap: 5px;
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.groups-info-right-block-item-info {
    width: 100% !important;
}