#group-info {
    margin-top: 1%;
    padding: 0 1%;
    display: flex;
}

#group-info-students-block {
    width: 40%;
    margin-right: 8px;
    border-radius: 10px;
}

#group-info-students-all-block {
    padding: 1% 0 3% 0;
    background-color: #f5f5f5;
    border-radius: 5px;
}

#group-info-students-block-students {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    ;
}

#group-info-now-and-recent-updates-block {
    width: 60%;
    background-color: #f5f5f5;
    border-radius: 5px;
}

#group-info-pair-now-block {
    padding: 1% 0 3% 0;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 8px;
}

.group-info-student-block-item {
    display: flex;
    width: 27%;
    min-height: 40px;
    background-color: #ececec;
    margin: 1%;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #498467;
    padding: 1% 1%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
}

.group-info-student-block-item:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.group-info-student-block-item-student-credentials {
    word-break: break-word;
    font-family: Montserrat;
    max-width: -moz-fit-content;
    text-align: left;
    width: 70%;
    text-align: center;
}

.group-info-students-block-add-attendance {
    background-color: #ececec;
    margin: 2% auto;
    width: 95%;
    padding: 2% 0;
    text-align: center;
    border-radius: 5px;
}

#group-info-students-all-block input {
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #ececec;
    width: 90%;
    min-height: 25px;
    margin-bottom: 1%;
    text-indent: 2%;
}

#group-info-students-all-block input:focus {
    outline: none;
}

.group-info-students-block-add-attendance span {
    margin-left: 1%;
    font-weight: 500;
}

#online-batch {
    display: block;
    margin: 5px auto;
    height: 10px;
    width: 90%;
    border-radius: 3px;
    background-color: #498467;
    box-shadow: 2px 2px 2px lightgray;
}

.online-batch-online {
    box-shadow: 0px 5px 0px #498467!important;

}

.online-batch-offline {
    box-shadow: 0px 5px 0px #ff3c38!important;

}

/* .online-batch-idle {
    background-color: ;
} */

.initials-circle {
    display: inline-block;
    color: black;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.group-info-pair-now {
    margin: 0 auto;
    padding: 2% 0;
}

.group-info-pair-now-block-pair-info span {
    display: block;
    word-break: break-word;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.group-info-student-block-item-student-subgroup-batch {
    position: absolute;
    width: 12.1%;
    top: 4px;
    left: 5px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 20%;
    background-color: #f5f5f5;
    text-align: center;
}

.image-placeholder {
    display: block;
    width: 15%;
    margin: 0 auto;
}
hr {
    width: 95%;
    border: none;
    border-top: 2px solid #ececec;
}
.pair-info-pair-title {
    font-weight: 600;
}
/* online - #498467 offline - #ff3c38 */