.student-info {
    display: flex;
    margin: 1% auto 0 auto;
    padding: 0 20px;
    max-width: 1400px;
}

.student-info-section-badge {
    background-color: #b05500;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 10px;
}

.student-info-section-text {
    display: block;
}

.student-info-filter-and-info-block {
    width: 40%;
}

.student-info-about-student-section {
    /* width: 40%; */
    margin-right: 8px;
}

.student-info-absenteeism-section {
    width: 60%;
}

.student-info-filter-absenteeisms {
    margin: 8px 8px 0px 0px;
}

.student-info-absenteeism-section-item {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    background-color: #ececec;
    border-radius: 10px;
    padding: 1% 2%;
    margin-bottom: 10px;
}

.title {
    font-weight: 700;
}

.student-info-section-info {
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ant-form-item {
    margin-bottom: 0 !important;
}

.ant-picker:hover {
    border-color: #b05500;
}

.ant-picker-focused {
    border-color: #b05500;
}

.ant-picker-active-bar {
    background: #b05500 !important;
}

.ant-radio-checked .ant-radio-inner {
    border-color: #b05500 !important;
    background-color: #b05500 !important;
}

.absenteeism-hours-number {
    background: #ececec;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
}

.absenteeism-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 50px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 0 20px;
}

.positive-hours-batch {
    box-shadow: 0px 3px 0px #498467 !important;
}

.negative-hours-batch {
    box-shadow: 0px 3px 0px #ff3c38 !important;
}

.modal-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-absenteeisms-found {
    /* margin-top: 10px !important; */
    display: block;
    margin: 0 auto;
    width: 40%;
}

.student-page-find-button:hover {
    border-color: #b05500 !important;
    color: #b05500 !important;
}

.ant-btn-primary {
    background-color: #b05500 !important;
}

.ant-btn-primary:not(:disabled):hover {
    background-color: #b5804f !important;
}

.ant-radio-wrapper:hover .ant-radio-inner {
    border-color: #b05500 !important;
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: #b05500 !important;
}

.ant-select-focused.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color: #b05500 !important;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border-color: #b05500 !important;
}

.ant-picker-dropdown .ant-picker-today-btn {
    color: #b05500 !important;
}

.ant-picker-dropdown .ant-picker-header-view button:hover {
    color: #b05500 !important;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
    background-color: #b05500 !important;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner {
    background-color: #b05500 !important;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    background-color: #b05500 !important;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-in-range)::after {
    border-top: 1px dashed #b5804f;
    border-bottom: 1px dashed #b5804f;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after {
    border-top: 1px dashed #b5804f;
    border-bottom: 1px dashed #b5804f;
    border-right: 1px dashed #b5804f;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single).ant-picker-cell-range-hover-end::before {
    background: #b5804f;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range::before {
    background: #b6a28f;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover::before {
    background: #ac8765;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before {
    background: #b6a28f;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before {
    background: #b6a28f;
}