.section-info-badge {
    background-color: #b05500;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 10px;
}

.forgot-password {
    display: block;
    width: fit-content;
    margin-top: 8px !important;
    margin: 0 auto;
}

.forgot-password:hover {
    cursor: pointer;
}

.other-actions {
    width: 100%;
}

.new-user-button {
    width: 100%;
}

.login-button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
    color: white;
    background-color: #b05500;
}

label {
    margin-top: 8px !important;
    margin-left: 8px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pin_block {
    display: flex;
    justify-content: center;
}

.react-code-input input {
    border-color: #b05500 !important;
    background: #f5f5f5 !important;
    color: #b05500 !important;
}

.react-code-input input:focus {
    outline: none !important;
    /* border-color: #b05500 !important; */
}

.navbar-component.save-password-btn {
    margin-top: 8px;
    width: 100%;
    height: fit-content;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
    color: white;
    background-color: #b05500;
}

.navbar-component.proceed-btn {
    margin-top: 8px;
    width: 100%;
    height: fit-content;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
    color: white;
    background-color: #b05500;
}
.navbar-component.back-to-authorization-modal-btn {
    margin-top: 8px;
    width: 100%;
    height: fit-content;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
    color: white;
    background-color: #b05500;
}