html{
  font-family: 'Google Sans';
}
.App{
  margin: 0 auto;
  min-width: 80%;
  width: fit-content;
}
#header{
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 1% 2%;
}
.header-item{
  font-size: 1.5rem;
}
.header-item:hover{
  opacity: 0.5;
  cursor: pointer;
}
.active{
  color: red;
}
